<div [ngSwitch]="_fieldType">
  <div *ngSwitchWhen="'shortText'">

  </div>
  <div *ngSwitchWhen="'longText'">

  </div>
  <div *ngSwitchWhen="'date'">

  </div>
  <div *ngSwitchWhen="'options'">
    <div class="form-group row">
      <label for="type" class="col-sm-2 form-control-label">類型</label>
      <div class="col-sm-10">
        <label class="radio-inline" *ngFor="#optionType of optionTypes">
          <input type="radio" name="optionTypeRadio" [value]="optionType.value" [checked]="_field.metadata.presentation == optionType.value"
          (change)="_field.metadata.presentation = optionType.value"> {{optionType.label}}
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label for="type" class="col-sm-2 form-control-label">選項</label>
      <div class="col-sm-10">
        <div class="list-group">
          <div class="list-group-item" *ngFor="#option of _field.metadata.options">
            {{option}}
          </div>
          <div class="list-group-item">
            <div class="form-group row">
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="選項" #option>
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-primary" (click)="pushOption(option.value)"><i class="fa fa-plus"></i> 新增選項</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchWhen="'table'">

  </div>
  <div class="form-group row" *ngSwitchDefault>
    <div class="alert alert-danger" role="alert">
      <strong>不支援的欄位類型</strong>
    </div>
  </div>
</div>