input.ng-valid[required] {
  border-left: 5px solid #42A948 !important;
}

.ng-invalid {
  border-left: 5px solid #a94442 !important;
}

pre {
  font-family: "Courier New" !important;
}

a.link {
  cursor: pointer;
}

.append-separator:not(:last-child)::after {
  content: attr(data-separator);
}
