<div class="card">
  <div class="card-block">
    <h3 class="card-title">單位資訊</h3>
      <br>
      <form (ngSubmit)="submit_name_and_identifier()" #unitForm="ngForm">
        <div class="form-group row">
          <label for="id" class="col-sm-2 form-control-label">ID</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{_unit.id}}</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-2 form-control-label">單位名稱</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="_unit.name" ngControl="name" required>
        </div>
      </div>
      <div class="form-group row">
      <label for="title" class="col-sm-2 form-control-label">單位編號</label>
        <div class="col-sm-10">
          <input type="number" min="0" class="form-control" [(ngModel)]="_unit.identifier" ngControl="title" required>
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-secondary" (click)="cancel()">取消</button>
      <div class="pull-xs-right">
        <button type="submit" [disabled]="!unitForm.form.valid" class="btn btn-primary">更新</button>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h3 class="card-title">人員資訊</h3>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-block">
          <h4 class="card-title">單位內人員</h4>
          <p class="card-text" *ngFor="#userID of _unitUserIDs">
            <a class="card-link" (click)="removeUser(_unit.id, userID)">{{userID | userName}}</a>
          </p>
          <p class="card-text">
            <small class="text-muted">點選以移出單位</small>
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-block">
          <h4 class="card-title">無單位歸屬人員</h4>
          <p class="card-text" *ngFor="#userID of _freeUserIDs">
            <a class="card-link" (click)="relateUser(_unit.id, userID)">{{userID | userName}}</a>
          </p>
          <p class="card-text">
            <small class="text-muted">點選以加入單位</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h3 class="card-title">角色資訊</h3>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card card-block">
          <h4 class="card-title">主管</h4>
          <div *ngIf="_unit.manager">
            <p class="card-text">
              目前由 <a class="card-link" (click)="deassignRole(_unit.id, _unit.manager, 'manager')">{{_unit.manager | userName}}</a> 任職
            </p>
            <p class="card-text">
              <small class="text-muted">點選以解除角色</small>
            </p>
          </div>
          <div *ngIf="!_unit.manager">
            <p class="card-text" *ngFor="#userID of _unitUserIDs">
              <a class="card-link" (click)="assignRole(_unit.id, userID, 'manager')">{{userID | userName}}</a>
            </p>
            <p class="card-text">
              <small class="text-muted">點選以指定角色</small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-block">
          <h4 class="card-title">文管人員</h4>
          <div *ngIf="_unit.docsControl">
            <p class="card-text">
              目前由 <a class="card-link" (click)="deassignRole(_unit.id, _unit.docsControl, 'docsControl')">{{_unit.docsControl | userName}}</a> 任職
            </p>
            <p class="card-text">
              <small class="text-muted">點選以解除角色</small>
            </p>
          </div>
          <div *ngIf="!_unit.docsControl">
            <p class="card-text" *ngFor="#userID of _unitUserIDs">
              <a class="card-link" (click)="assignRole(_unit.id, userID, 'docsControl')">{{userID | userName}}</a>
            </p>
            <p class="card-text">
              <small class="text-muted">點選以指定角色</small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-block">
          <h4 class="card-title">承辦人</h4>
          <div *ngIf="_unit.agents.length > 0">
            <p class="card-text">
              目前任職人員：
            </p>
            <p class="card-text" *ngFor="#agent of _unit.agents">
              <a class="card-link" (click)="deassignRole(_unit.id, _unit.docsControl, 'agent')">{{agent | userName}}</a>
            </p>
            <p class="card-text">
              <small class="text-muted">點選以解除角色</small>
            </p>
            <div *ngIf="_unit.agents.length != _unitUserIDs.length">
            <br>
            </div>
          </div>
          <div *ngIf="_unit.agents.length != _unitUserIDs.length">
            <p class="card-text" *ngFor="#userID of _unitUserIDs">
              <a *ngIf="_unit.agents.indexOf(userID) < 0" class="card-link" (click)="assignRole(_unit.id, userID, 'agent')">{{userID | userName}}</a>
            </p>
            <p class="card-text">
              <small class="text-muted">點選以指定角色</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h3 class="card-title">單位結構</h3>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-block">
          <h4 class="card-title">母單位</h4>
          <div *ngIf="_unit.parentUnit">
            目前的母單位：<a class="card-link" (click)="removeParent(_unit.parentUnit, _unit.id)">{{_unit.parentUnit | unitName}}</a>
            <br><br>
            <p class="card-text">
              <small class="text-muted">點選以移除母單位</small>
            </p>
          </div>
          <div *ngIf="!_unit.parentUnit">
            <p class="card-text" *ngFor="#unitID of _freeUnitIDs">
              <a class="card-link" (click)="relateParent(unitID, _unit.id)">{{unitID | unitName}}</a>
            </p>
            <p class="card-text">
              <small class="text-muted">點選以指定成為母單位</small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-block">
          <h4 class="card-title">子單位</h4>
          <p class="card-text" *ngFor="#childUnit of _unit.childUnits">
            {{childUnit | unitName:'silent'}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>