<div>
  <form class="form-inline">
    <div class="input-group pull-xs-right">
      <button type="button" style="width: 3em;" class="btn btn-primary" (click)="new()"><i class="fa fa-plus"></i></button>
    </div>
  </form>
</div>

<br><br>

<table class="table table-striped">
      <thead>
          <tr>
              <th style="width: 10%">單位</th>
              <th style="width:  7%">編號</th>
              <th style="width: 13%">母單位</th>
              <th style="width: 15%">子單位</th>
              <th style="width: 15%">主管</th>
              <th style="width: 15%">文管</th>
              <th style="width: 15%">代辦人員</th>
              <th style="width: 10%">動作</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="#unit of _units">
              <td>{{unit.name}}</td>
              <td>{{unit.identifier}}</td>
              <td>{{unit.parentUnit | unitName:'silent'}}</td>
              <td>
                <p *ngFor="#childUnit of unit.childUnits">{{childUnit | unitName:'silent'}}</p>
              </td>
              <td>{{unit.manager | userName}}</td>
              <td>{{unit.docsControl | userName}}</td>
              <td>
                <p *ngFor="#agent of unit.agents">{{agent | userName}}</p>
              </td>
              <td><a (click)="edit(unit.id)">編輯</a><br/><a (click)="delete(unit.id)">刪除</a></td>
          </tr>
      </tbody>
  </table>